
:host {
  display: block;
  box-sizing: border-box;
  button {
    outline: 0;
    border: none;
  }
  button, a {
    display: inline-block;
    background-color: #800080;
    width: 200px;
    padding: .625rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
  }

  button:hover,
  a:hover {
    background-color: #0a034b;
  }

  ::slotted(*) {
    font-size: 1rem;
    color: white;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }
}

:host(.disabled) {
    pointer-events: none;
    cursor: default;
}
